*{
  margin: 0;
}

.App {
  text-align: center;
  background-color: #eeeded;
  height: 1400px;
}

.App-header {
  background-color: #d3d3d3;
  margin: auto;
  display: flex;
  height: 1400px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.pantalla{
  display: flex;
  margin-top: 3%;
  width: 62%;
  height: 1300px;
  background-color: #eee;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  color: black;
}

.primeraInfo{
  display: flex;
  width: 83.1%;
  height: 102px;
  margin-top: 3%;
  margin-left: 8.45%;
  align-items: center;
}


.apariencia{
  display: flex;
  width: 80%;
  height: 50%;
}

.imagen{
  display: inline-block;
  background-image: url(./fotoPerfil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 102px;
  height: 100px;
  border-radius: 100%;
}


.interacciones{
  display: flex;
  width: 20%;
  margin-left: 5%;
  height: 50%;
}

#mensaje{
  width: 45%;
  height: 100%;
  background-image: url(/src/mail.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#guardar{
  margin-left: 15%;
  width: 30%;
  height: 100%;
  background-image: url(/src/guardar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

#infoAdicional{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 20%;
  margin-left: 10%;
  margin-top: 3.5%;
}

#titulos{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  text-align: left;
}

#titulos > h3{
  font-size: 30px;
}

#titulos > p{
  font-size: 22px;
}


#descripcion{
  display: flex;
  width: 50%;
  height: 100%;
  margin-left: 2%;
  flex-direction: column;
  text-align: left;
}

#descripcion > h3{
  font-size: 30px;
}

#descripcion > p{
  font-size: 22px;
}



h3{
  margin-top: 1.5%;
  margin-bottom: 1%;
  font-size: 40px;
}

#calendario{
  display: flex;
  background-color: #D9D9D9;
  width: 100%;
  height: 58%;
  border-radius: 0 0 25px 25px;
}

.horarios{
  margin-top: 2%;
  margin-left: 5%;
  width: 40%;
}

.dias{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 10%;
  width: 30%;
  height: 90%;
}