* {
    margin: 0;
}

body {
    background-color: #F8F8F8;
}

#fondo_1 {
    position: absolute;
    top: 0px;
    left: 49%;
    background-color: #A4A4A4;
    width: 51%;
    height: 100%;
    z-index: 2;
}

#fondo_2 {
    position: absolute;
    top: 0px;
    left: 44%;
    background-color: #D9D9D9;
    width: 5%;
    height: 100%;
    z-index: 1;
}

.root {
    display: none;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: white;
    width: 30%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.2);
    z-index: 3;
    animation: movingX .3s ease;
}
@keyframes movingX{
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.root.active{
    display: block;
}

::placeholder {
    font-size: 18px;
    
}

h1 {
    display: inline-block;
    color: black;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 40px;
    width: 60%;
    height: 20%;
    text-align: left;
}

.circulo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    left: 82%;
    width: 12%;
    height: 12%;
    border: 1px solid black;
    border-radius: 100%;
}

.circulo > p{
    font-size: 20px;
}

.formulario {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.input{
    width: 80%;
    height: 15%;
    margin-left: 8%;
    margin-top: 5%;
    padding-left: 15px;
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.siguiente {
    display: flex;
    justify-content: center;
    width: 82%;
    height: 17%;
    margin-top: 5%;
    margin-left: 8%;
    padding: 13px;
    background-color: #1D6FAB;
    border: 3px solid #10416D;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.volver{
    margin-left: 5%;
    font-size: 15px;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
}

.volver a{
    color: black;
    text-decoration: none;
}

p {
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 20px;
}

a{
    margin-left: 8%;
}