*{
  margin: 0;
}

.perfilReclutadorInt{
  display: flex;
  flex-direction: row;
}


.pantalla{
  display: flex;
  margin-top: 4vh;
  margin-left: 2%;
  margin-bottom: 2.7%;
  width: 68.517%;
  height: 260vh;
  background-color: #eeeded;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  color: #4B0713;
}

.primeraInfo{
  display: flex;
  width: 83.1%;
  height: 10%;
  max-height: 500px;
  margin-top: 3%;
  margin-left: 8.45%;
  align-items: top;
}


.apariencia{
  display: flex;
  width: 80%;
  height: 50%;
}

.imagen{
  display: inline-block;
  background-image: url(../../public/fotoPerfil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 102px;
  height: 100px;
  min-width: 102px;
  min-height: 100px;
  border-radius: 100%;
}


.interacciones{
  display: flex;
  width: 20%;
  margin-left: 5%;
  height: 50%;
}

#mensaje{
  width: 45%;
  height: 100%;
  margin-top: 13.5%;
  background-color: #ffffff00;
  background-image: url(../../public/mail.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#guardar{
  margin-left: 15%;
  margin-top: 0.5%;
  width: 30%;
  height: 100%;
  background-color: #ffffff00;
  background-image: url(../../public/guardar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

#infoAdicional{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 40%;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 3.5%;
}



#introPosteos {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el primer elemento */
  position: relative; /* Necesario para posicionar el segundo elemento */
  width: 80%;
  margin-left: 10%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

#introPosteos h3 {
  align-self: center;
}

#introPosteos > :last-child {
  position: absolute;
  right: 0;
}



h3{
  font-size: 40px;
}

#posteos{
  display: flex;
  background-color: #c0c0c0;
  width: 100%;
  height: 61%;
  border-radius: 0 0 25px 25px;
}