/* Reseteo de márgenes para todos los elementos */
* {
  margin: 0;
}

/* Estilo para el cuerpo del documento */
body {
  background-color: #f7f0e5;
  /* Color de fondo */
}

/* Fondo gris oscuro que cubre el 51% del ancho de la pantalla */
#fondo_1 {
  position: absolute;
  top: 0;
  left: 49%;
  background-color: #e9d7ba;
  width: 51%;
  height: 100%;
  z-index: 2;
  /* Capa de superposición */
}

/* Fondo gris claro que cubre el 5% del ancho de la pantalla */
#fondo_2 {
  position: absolute;
  top: 0;
  left: 44%;
  background-color: #f1e3cb;
  width: 5%;
  height: 100%;
  z-index: 1;
  /* Capa de superposición */
}

/* Estilo del contenedor principal */
.pantalla {
  padding: 1rem;
  position: absolute;
  top: 10%;
  left: 36.5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  width: 25%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.2);
  /* Sombra del contenedor */
  z-index: 3;
  /* Capa de superposición */
}

@media(max-width: 1200px){
  .pantalla{
    width: 35%;
    left: 33.5%;
  }
}

@media(max-width: 992px){
  .pantalla{
    width: 40%;
    left: 28.5%;
  }
}

@media(max-width: 768px){
  .pantalla{
    width: 55%;
    left: 22.5%;
  }
}

@media(max-width: 576px){
  .pantalla{
    width: 75%;
    left: 12.5%;
  }
}

@media(max-width: 420px){
  .pantalla{
    width: 80%;
    left: 6.5%;
  }
}

@media(max-width: 360px){
  .pantalla{
    width: 80%;
    left: 5.5%;
  }
}




/* Estilo para los enlaces de navegación */
.ruta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: medium;
  width: 84%;
  height: 10%;
}

/* Estilo para los encabezados */
h1 {
  color: #4B0713;
  font-size: 30px;
  height: 8%;
  text-align: center;
}

/* Estilo para el formulario */
#formulario {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

/* Estilo para los campos de entrada */
input {
  width: 95%;
  height: 10%;
  padding-left: 15px;
  background-color: white;
  border: 1px solid #4B0713;
  border-radius: 5px;
}

/* Estilo para los botones */
button {
  display: flex;
  background-color: #1D6FAB;
  color: white;
  width: 85%;
  height: 10%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #4B0713;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilo para los placeholders de los inputs */
::placeholder {
  color: #4B0713;
  /* Color del texto del placeholder */
}

/* Estilo específico para el botón de mostrar contraseña */
#mostrarContra {
  background-color: white;
  color: #4B0713;
  width: 25%;
  margin-right: 0;
}

@media(max-Width: '360px') {
  #mostrarContra {
    width: 30%;
  }
}

/* Estilo específico para el botón de Google */
#google {
  background-color: white;
  color: black;
}

/* Estilo para la imagen dentro del botón de Google */
#google>img {
  width: 20px;
  height: 20px;
}

/* Estilo para el enlace de "Olvidaste tu contraseña" */
#olvido {
  text-align: justify;
}

/* Estilo para el enlace de "Registrate" */
#register {
  display: flex;
  text-align: justify;
}