*{
    margin: 0;
}

body {
    background-color: #F8F8F8;
}

#fondo_1 {
    position: absolute;
    top: 0px;
    left: 49%;
    background-color: #A4A4A4;
    width: 51%;
    height: 100%;
    z-index: 2;
}

#fondo_2 {
    position: absolute;
    top: 0px;
    left: 44%;
    background-color: #D9D9D9;
    width: 5%;
    height: 100%;
    z-index: 1;
}

.root {
    display: none;
    position: absolute;
    top: 2%;
    left: 37.5%;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 630px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#root_eleccion{
    display: flex;
    top: 25%;
    height: 250px;
}

#root_empleado.active{
    display: flex;
}

::placeholder{
    color: black;
    padding-left: 15px;
}

a {
    font-size: 17px;
    margin-left: 8%;
    margin-bottom: 3%;
}

h1 {
    color: black;
    margin-top: 6%;
    margin-left: 8%;
    font-size: 30px;
    height: 12%;
}

h2{
    margin: 7%;
    margin-top: 10%;
    text-align: center;
}

p{
    margin: 8%;
    margin-bottom: 5%;
    margin-top: 3%;
    font-size: 20px;
}

.formulario {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

input {
    width: 84%;
    height: 8%;
    margin-left: 8%;
    margin-bottom: 3%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#aclaracion{
    font-size: 15px;
    margin-bottom: 4%;
}

button {
    margin-left: 8%;
    margin-bottom: 2%;
    background-color: #1D6FAB;
    color: white;
    width: 84%;
    height: 45px;
    border-radius: 20px;
}

.btn_eleccion{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 40px;
    margin-left: 8%;
    margin-top: 3%;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#btn_empleado{
    background-color: #1D6FAB;
    color: white;
}
.roots.active{
    display: flex;
}

#google{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 40px;
    margin-left: 8%;
    margin-top: 5%;
    padding: 7px;
    background-color: white;
    color: black
}

#google > img{
    width: 20px;
    height: 20px;
}

#google > span{
    margin-top: 4px;
    margin-left: 10px;
}